@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,700);
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
* {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 0em) {
  body {
    background-color: #f9fafb; }

  nav {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    padding: 0.25em auto;
    background-color: #141823; }
    nav:before, nav:after {
      content: '';
      display: table; }
    nav:after {
      clear: both; }
    nav:last-child {
      margin-right: 0%; }
    nav aside {
      display: none; }
    nav article input {
      width: 100%;
      height: 1.5em;
      border-style: none; }

  article {
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    color: #141823;
    font-family: "Raleway", sans-serif; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:last-child {
      margin-right: 0%; }
    article header {
      text-align: center;
      margin-top: 2em; }
      article header h1 {
        font-size: 1.5em;
        font-weight: 700;
        margin: 0; }
      article header h2 {
        font-size: 1em;
        font-weight: 300;
        color: gray;
        margin: 0; }
      article header img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        max-width: 20%;
        height: auto; }
      article header p {
        padding: 0;
        margin: 0.5em auto;
        font-weight: 300;
        font-size: 1em; }
    article .social {
      *zoom: 1;
      width: auto;
      max-width: 1410px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      font-size: 0.9em;
      font-weight: 100; }
      article .social:before, article .social:after {
        content: '';
        display: table; }
      article .social:after {
        clear: both; }
      article .social div {
        padding: 1em 0;
        *zoom: 1;
        float: left;
        display: inline;
        clear: none;
        padding-left: 0;
        padding-right: 0;
        text-align: inherit;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        text-align: center; }
        article .social div:before, article .social div:after {
          content: '';
          display: table; }
        article .social div:after {
          clear: both; }
        article .social div a {
          text-decoration: none;
          color: #141823; }
      article .social .active, article .social div:hover {
        background-color: #141823; }
        article .social .active a, article .social div:hover a {
          color: white; }
    article .feed {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%;
      background-color: #141823;
      text-align: left; }
      article .feed:before, article .feed:after {
        content: '';
        display: table; }
      article .feed:after {
        clear: both; }
      article .feed:last-child {
        margin-right: 0%; }
      article .feed ul {
        list-style-type: none;
        padding: 1em;
        font-size: 1em;
        color: white;
        font-family: "Raleway", sans-serif; }
      article .feed a {
        text-decoration: none; }

  aside {
    display: none; } }
@media screen and (min-width: 20em) {
  body {
    background: url("geometry.png"); }

  article .social div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    border-bottom: solid 0.25em red; }
    article .social div:before, article .social div:after {
      content: '';
      display: table; }
    article .social div:after {
      clear: both; }
  article .social .active, article .social div:hover {
    border-bottom: solid 0.25em #141823; } }
@media screen and (min-width: 60.063em) {
  nav {
    padding-top: 0.25em;
    padding-bottom: 0.25em; }
    nav aside {
      margin-right: 0;
      display: initial;
      color: gray;
      font-weight: 300; }
    nav img {
      max-width: 1.2em; }

  aside {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
    font-family: "Raleway", sans-serif; }
    aside:before, aside:after {
      content: '';
      display: table; }
    aside:after {
      clear: both; }
    aside:last-child {
      margin-right: 0%; }

  article {
    box-shadow: inset 0 0 0.125em 0 #141823;
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%;
    background-color: #f9fafb; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:last-child {
      margin-right: 0%; }

  .left {
    display: none; }

  .right {
    text-align: left; }

  .center {
    text-align: center; }

  .widget {
    margin-top: 1.5em; }
    .widget section {
      -webkit-border-radius: 2.5%;
      -moz-border-radius: 2.5%;
      -ms-border-radius: 2.5%;
      border-radius: 2.5%;
      width: 80%;
      box-shadow: inset 0 0 0.125em 0 #141823;
      background-color: white;
      margin-top: 0.5em;
      padding: 0.5em; }
      .widget section span.new {
        display: none; }
      .widget section header {
        background-color: #f9fafb;
        color: #141823;
        font-weight: 700;
        font-size: 0.75em;
        margin-bottom: 0.25em; }
      .widget section a {
        text-decoration: none;
        color: #141823; }
      .widget section a:hover {
        font-weight: 700; }
      .widget section ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em; } }
@media screen and (min-width: 64.063em) {
  nav aside.left img {
    padding-right: 2em; }

  article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    background-color: white; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:last-child {
      margin-right: 0%; }
    article header {
      margin-top: 3em; }

  .left {
    display: initial;
    text-align: right; }

  .map {
    padding-top: 2.5em;
    margin-right: 0;
    min-height: 100%;
    background-color: #f9fafb; }
    .map section {
      padding-right: 2em;
      padding-bottom: 0.5em; }
      .map section header {
        color: #141823;
        font-weight: 700;
        font-size: 0.75em;
        margin-bottom: 0.25em; }
      .map section a {
        text-decoration: none;
        color: #141823; }
      .map section a:hover {
        font-weight: 700; }
      .map section ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em; }
        .map section ul span.count {
          display: inline-block;
          min-width: 1.5em;
          text-align: center;
          color: white;
          font-family: "Raleway", sans-serif;
          font-size: 0.75em;
          font-weight: 700;
          background-color: gray; }

  .widget section span.new {
    display: initial;
    color: red;
    font-family: "Raleway", sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    padding: 0.05em;
    background-color: pink;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    border-radius: 1%; } }
@media screen and (min-width: 0em) {
  .login header {
    padding: 1em;
    background-color: #141823; }
    .login header h1 {
      font-size: 2.5em;
      color: white; }
    .login header h2 {
      color: #f9fafb;
      font-size: 1.5em; }
  .login form {
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    width: 80%;
    padding: 0.5em;
    height: 2em; }
    .login form:before, .login form:after {
      content: '';
      display: table; }
    .login form:after {
      clear: both; }
    .login form input {
      display: inline-block;
      height: 120%;
      width: 100%;
      border-style: none;
      border-bottom: solid 0.5px #141823;
      font-family: "Raleway", sans-serif;
      font-size: 1em;
      text-align: center; }
    .login form .button {
      margin-top: 0.25em;
      color: white;
      *zoom: 1;
      width: auto;
      max-width: 1410px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      -webkit-border-radius: 2.5%;
      -moz-border-radius: 2.5%;
      -ms-border-radius: 2.5%;
      border-radius: 2.5%;
      background-color: #141823;
      font-family: "Raleway", sans-serif;
      font-size: 1em;
      width: 95%;
      height: 1.5em;
      padding: 0.5em; }
      .login form .button:before, .login form .button:after {
        content: '';
        display: table; }
      .login form .button:after {
        clear: both; }
  .login div.fb img {
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    margin-top: 6em; }
    .login div.fb img:before, .login div.fb img:after {
      content: '';
      display: table; }
    .login div.fb img:after {
      clear: both; } }
