@import 'style';

@media screen and (min-width: 0em){

	article{
		header{
			background-color: $map_blue;
			margin-top: 0;
			h1{
				background-color: $map_blue;
				text-align: center;
				font-size: 2.5em;
				color: white;
			}
			h2{
				padding: 0 1em 1em 1em;
				color: $geometry_gray;
				text-align: center;
				font-size: 1.5em;
			}
		}

		form{
			@include center;
			width: 80%;
			height: 2em;
			background-color: white;
			input{
				background-color: $geometry_gray;
				display: inline-block;
				height: 120%;
				width: 100%;
				border-style: none;
				border-bottom: solid 0.5px $map_blue;
				font-size: 1em;
				text-align: center;
			}
			a{
				text-decoration: none;
			}
			.button{
				margin-top: 0.25em;
			}
		}
		div.socialauth{
			margin-top: 6.5em;
			.google, .twitter{
				display: none;
			}
			img{
				-webkit-transition: opacity .25s ease-in-out;
					 -moz-transition: opacity .25s ease-in-out;
					 			transition: opacity .25s ease-in-out;
				@include center;
				margin-top: 0.5em;
				width: 15em;
				height: auto;
			}
			img:hover{
				opacity: 0.9;
			}
		}
	}
}

@media screen and (min-width: 20em){
	
	article{
		header{
			padding-top: 2.25em;
		}
	}
}

@media screen and (min-width: 40.063em){
	article{
		div.socialauth{
			@include col(0.85);
			margin: 6.5em 7.5% 0 7.5%;
			.google, .twitter{
				display: initial;
			}
			section{
				@include center;
				@include span(1/3);
				img{
					width: 11.5em;
					height: auto;
				}
			}

		}
	}
}

@media screen and (min-width: 60.063em){
	article{
		div.socialauth{
			section{
				@include span(1);
			}
		}
	}

}
