@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,700);
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
* {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 0em) {
  body {
    background-color: #f9fafb; }

  nav {
    position: fixed;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    background-color: #141823;
    padding: 0.25em; }
    nav:before, nav:after {
      content: '';
      display: table; }
    nav:after {
      clear: both; }
    nav:last-child {
      margin-right: 0%; }
    nav div.left img {
      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      -ms-border-radius: 10%;
      border-radius: 10%;
      max-width: 1.5em;
      height: auto;
      padding-left: 0.25em; }
    nav div.left input {
      display: none; }
    nav div.right {
      display: none; }

  .wrapper {
    min-height: 100vh;
    background-color: #f1f1f1; }

  .button {
    color: white;
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    -webkit-border-radius: 2.5%;
    -moz-border-radius: 2.5%;
    -ms-border-radius: 2.5%;
    border-radius: 2.5%;
    background-color: #141823;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    height: 1.5em;
    padding: 0.5em;
    margin: 1em;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out; }
    .button:before, .button:after {
      content: '';
      display: table; }
    .button:after {
      clear: both; }

  .button:hover {
    opacity: 0.9;
    color: white; }

  article {
    margin-top: 1em;
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    color: #141823;
    background-color: white;
    font-family: "Raleway", sans-serif; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:last-child {
      margin-right: 0%; }
    article .guide {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      padding-left: 0;
      padding-right: 0;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 0%; }
      article .guide:before, article .guide:after {
        content: '';
        display: table; }
      article .guide:after {
        clear: both; }
      article .guide div {
        margin: 1em;
        padding: 1em;
        background-color: #f9fafb;
        box-shadow: inset 0 0 0.5em 0 #f1f1f1;
        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        -ms-border-radius: 2%;
        border-radius: 2%;
        min-height: 5em;
        text-align: center;
        font-weight: 700; }
        article .guide div p.button {
          margin: 1em; }
        article .guide div a {
          text-decoration: none; }
    article header {
      text-align: center;
      margin-top: 2em; }
      article header h1 {
        font-size: 1.5em;
        font-weight: 700;
        margin: 0; }
      article header h2 {
        font-size: 1em;
        font-weight: 300;
        color: gray;
        margin: 0; }
      article header img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        max-width: 20%;
        height: auto; }
      article header p {
        padding: 0;
        margin: 0.5em auto;
        font-weight: 300;
        font-size: 1em; }
    article .social {
      *zoom: 1;
      width: auto;
      max-width: 1410px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      font-size: 0.9em;
      font-weight: 300; }
      article .social:before, article .social:after {
        content: '';
        display: table; }
      article .social:after {
        clear: both; }
      article .social div {
        padding: 1em 0;
        *zoom: 1;
        float: left;
        display: inline;
        clear: none;
        padding-left: 0;
        padding-right: 0;
        text-align: inherit;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        text-align: center; }
        article .social div:before, article .social div:after {
          content: '';
          display: table; }
        article .social div:after {
          clear: both; }
        article .social div a {
          text-decoration: none;
          color: #141823; }
      article .social .active, article .social div:hover {
        background-color: #f1f1f1;
        font-weight: 700; }
        article .social .active a, article .social div:hover a {
          color: #141823; }
    article .feed {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%;
      background-color: #f1f1f1;
      text-align: left; }
      article .feed:before, article .feed:after {
        content: '';
        display: table; }
      article .feed:after {
        clear: both; }
      article .feed:last-child {
        margin-right: 0%; }
      article .feed ul {
        list-style-type: none;
        font-size: 0.95em;
        color: #141823;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        padding: 1em; }
        article .feed ul li {
          margin-top: 0.3em; }
          article .feed ul li a {
            text-decoration: underline;
            color: #141823;
            font-weight: 700; }

  article.general header h1 {
    padding: 0.25em;
    text-align: left;
    color: #141823;
    background-color: #f1f1f1; }
  article.general header h2 {
    text-align: left;
    padding: 0.5em;
    font-size: 0.85em;
    border-bottom: solid 0.15em red; }
  article.general form {
    padding-top: 2em;
    background-color: #f9fafb;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%; }
    article.general form:before, article.general form:after {
      content: '';
      display: table; }
    article.general form:after {
      clear: both; }
    article.general form:last-child {
      margin-right: 0%; }
    article.general form p {
      padding: 0.5em;
      text-align: left;
      font-size: 0.8em; }
    article.general form input[type="text"] {
      margin: 0.5em;
      display: inline-block;
      border-style: none;
      background-color: #f9fafb;
      border-bottom: solid 0.125em #141823;
      font-family: "Raleway", sans-serif;
      font-size: 0.85em;
      text-align: left; }
    article.general form p.button {
      margin: 0.5em;
      text-align: center; }
    article.general form a {
      text-decoration: none; }

  aside {
    display: none; } }
@media screen and (min-width: 20em) {
  body {
    background-color: #f9fafb; }

  article .social div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    border-bottom: solid 0.25em red; }
    article .social div:before, article .social div:after {
      content: '';
      display: table; }
    article .social div:after {
      clear: both; }
  article .social .active, article .social div:hover {
    border-bottom: solid 0.25em #141823; }
  article .feed ul {
    padding-top: 1em;
    padding-left: 10%;
    padding-right: 10%; }

  article.general form section.decision {
    padding: 0.25em; }
    article.general form section.decision p {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 48.5%;
      margin-left: 0%;
      margin-right: 3%;
      text-align: center;
      margin: 0.25em; }
      article.general form section.decision p:before, article.general form section.decision p:after {
        content: '';
        display: table; }
      article.general form section.decision p:after {
        clear: both; }
      article.general form section.decision p:last-child {
        margin-right: 0%; }
    article.general form section.decision p.recommended {
      background-color: #c1f0c1;
      box-shadow: inset 0 0 0.125em 0 green;
      color: green; } }
@media screen and (min-width: 60.063em) {
  nav div.left {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 75%;
    margin-left: 0%;
    margin-right: 0%; }
    nav div.left:before, nav div.left:after {
      content: '';
      display: table; }
    nav div.left:after {
      clear: both; }
  nav div.right {
    display: initial;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%; }
    nav div.right:before, nav div.right:after {
      content: '';
      display: table; }
    nav div.right:after {
      clear: both; }
    nav div.right span {
      text-align: right;
      color: #f9fafb;
      font-weight: 300;
      font-height: 1.2em;
      font-family: "Raleway", sans-serif; }
    nav div.right img {
      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      -ms-border-radius: 10%;
      border-radius: 10%;
      padding-left: 2em;
      max-width: 1.5em;
      height: auto; }

  aside {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: "Raleway", sans-serif; }
    aside:before, aside:after {
      content: '';
      display: table; }
    aside:after {
      clear: both; }

  aside.right {
    background-color: #f9fafb;
    min-height: 100vh; }

  div.asidewrapper {
    margin-top: 3em;
    padding-left: 2em; }

  article {
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 75%;
    margin-left: 0%;
    margin-right: 0%; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }

  .left {
    display: none; }

  .right {
    text-align: left; }

  .center {
    text-align: center; }

  .widget section {
    -webkit-border-radius: 2.5%;
    -moz-border-radius: 2.5%;
    -ms-border-radius: 2.5%;
    border-radius: 2.5%;
    width: 80%;
    box-shadow: inset 0 0 0.125em 0 #141823;
    background-color: white;
    margin-bottom: 1em;
    padding: 0.5em; }
    .widget section span.new {
      display: none; }
    .widget section header {
      background-color: #f9fafb;
      color: #141823;
      font-weight: 700;
      font-size: 0.75em;
      margin-bottom: 0.25em; }
    .widget section a {
      text-decoration: none;
      color: #141823; }
    .widget section a:hover {
      font-weight: 700; }
    .widget section ul {
      list-style-type: none;
      margin: 0;
      font-size: 0.8em; }
      .widget section ul li {
        margin-top: 0.25em;
        margin-bottom: 0.25em; } }
@media screen and (min-width: 64.063em) {
  article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article header {
      margin-top: 3em; }

  .left {
    display: initial;
    text-align: right; }

  .map {
    min-height: 100vh;
    background-color: #f9fafb; }
    .map section {
      padding-right: 2em;
      margin-bottom: 1em; }
      .map section header {
        color: #141823;
        font-weight: 700;
        font-size: 0.75em;
        margin-bottom: 0.25em; }
      .map section a {
        text-decoration: none;
        color: #141823; }
      .map section a:hover {
        font-weight: 700; }
      .map section ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em; }
        .map section ul span.count {
          display: inline-block;
          min-width: 1.5em;
          text-align: center;
          color: white;
          font-family: "Raleway", sans-serif;
          font-size: 0.75em;
          font-weight: 700;
          background-color: gray; }
        .map section ul li {
          margin-bottom: 0.5em; }

  .widget section span.new {
    display: initial;
    color: red;
    font-family: "Raleway", sans-serif;
    font-size: 0.75em;
    font-weight: 700;
    padding: 0.05em;
    background-color: pink;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    border-radius: 1%; } }
@media screen and (min-width: 0em) {
  .login {
    min-height: 100vh; }
    .login header {
      margin-top: -1em;
      padding: 1em;
      background-color: #141823; }
      .login header h1 {
        font-size: 2.5em;
        color: white; }
      .login header h2 {
        color: #f9fafb;
        font-size: 1.5em; }
    .login form {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%;
      *zoom: 1;
      width: auto;
      max-width: 1410px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      width: 80%;
      padding: 0.5em;
      height: 2em; }
      .login form:before, .login form:after {
        content: '';
        display: table; }
      .login form:after {
        clear: both; }
      .login form:last-child {
        margin-right: 0%; }
      .login form:before, .login form:after {
        content: '';
        display: table; }
      .login form:after {
        clear: both; }
      .login form input {
        display: inline-block;
        height: 120%;
        width: 100%;
        border-style: none;
        border-bottom: solid 0.5px #141823;
        font-family: "Raleway", sans-serif;
        font-size: 1em;
        text-align: center; }
      .login form a {
        text-decoration: none; }
      .login form .button {
        margin-top: 0.25em; }
    .login div.socialauth {
      margin-top: 6.5em; }
      .login div.socialauth .google, .login div.socialauth .twitter {
        display: none; }
      .login div.socialauth img {
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        *zoom: 1;
        width: auto;
        max-width: 1410px;
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0.5em;
        width: 15em;
        height: auto; }
        .login div.socialauth img:before, .login div.socialauth img:after {
          content: '';
          display: table; }
        .login div.socialauth img:after {
          clear: both; }
      .login div.socialauth img:hover {
        opacity: 0.9; } }
@media screen and (min-width: 20em) {
  .login header {
    padding: 3em; } }
@media screen and (min-width: 40.063em) {
  .login div.socialauth {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 84.55%;
    margin-left: 0%;
    margin-right: 3%;
    margin: 6.5em 7.5% 0 7.5%; }
    .login div.socialauth:before, .login div.socialauth:after {
      content: '';
      display: table; }
    .login div.socialauth:after {
      clear: both; }
    .login div.socialauth:last-child {
      margin-right: 0%; }
    .login div.socialauth .google, .login div.socialauth .twitter {
      display: initial; }
    .login div.socialauth section {
      *zoom: 1;
      width: auto;
      max-width: 1410px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      padding-left: 0;
      padding-right: 0;
      text-align: inherit;
      width: 33.33333%;
      margin-left: 0%;
      margin-right: 0%; }
      .login div.socialauth section:before, .login div.socialauth section:after {
        content: '';
        display: table; }
      .login div.socialauth section:after {
        clear: both; }
      .login div.socialauth section:before, .login div.socialauth section:after {
        content: '';
        display: table; }
      .login div.socialauth section:after {
        clear: both; }
      .login div.socialauth section img {
        width: 11.5em;
        height: auto; } }
@media screen and (min-width: 60.063em) {
  .login div.socialauth section {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
    .login div.socialauth section:before, .login div.socialauth section:after {
      content: '';
      display: table; }
    .login div.socialauth section:after {
      clear: both; } }
