@import url(http://fonts.googleapis.com/css?family=Merriweather:900|Merriweather+Sans);
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
* {
  margin: 0;
  padding: 0; }

body {
  background: url("geometry.png"); }

nav {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  background-color: #141823; }
  nav:before, nav:after {
    content: '';
    display: table; }
  nav:after {
    clear: both; }
  nav:last-child {
    margin-right: 0%; }
  nav img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    max-width: 16px;
    height: auto; }

.left, .right {
  margin-top: 48px; }

aside {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: 'Merriweather Sans', sans-serif; }
  aside:before, aside:after {
    content: '';
    display: table; }
  aside:after {
    clear: both; }
  aside:last-child {
    margin-right: 0%; }
  aside section {
    margin-bottom: 12px; }
  aside .map, aside .widget {
    text-align: right; }
    aside .map header, aside .widget header {
      color: #141823;
      font-weight: bold;
      font-size: 12px; }
    aside .map a, aside .widget a {
      text-decoration: none;
      color: #141823; }
    aside .map ul, aside .widget ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 12px; }
  aside .widget {
    text-align: left; }

article {
  *zoom: 1;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  color: #141823;
  background-color: white;
  box-shadow: inset 0px 0px 0.5px 0px #141823; }
  article:before, article:after {
    content: '';
    display: table; }
  article:after {
    clear: both; }
  article:before, article:after {
    content: '';
    display: table; }
  article:after {
    clear: both; }
  article:last-child {
    margin-right: 0%; }
  article header {
    text-align: center;
    font-family: 'Merriweather', serif;
    margin-top: 48px; }
    article header h1 {
      font-size: 24px;
      margin: 0px; }
    article header img {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      max-width: 20%;
      height: auto; }
    article header p {
      padding: 0;
      margin: 2px auto;
      font-family: 'Merriweather Sans', sans-serif;
      font-size: 18px; }
    article header .social {
      *zoom: 1;
      width: auto;
      max-width: 1410px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 31.33333%;
      margin-left: 0%;
      margin-right: 3%; }
      article header .social:before, article header .social:after {
        content: '';
        display: table; }
      article header .social:after {
        clear: both; }
      article header .social:before, article header .social:after {
        content: '';
        display: table; }
      article header .social:after {
        clear: both; }
      article header .social:last-child {
        margin-right: 0%; }
  article .feed {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    margin-top: 24px;
    background-color: #141823; }
    article .feed:before, article .feed:after {
      content: '';
      display: table; }
    article .feed:after {
      clear: both; }
    article .feed:last-child {
      margin-right: 0%; }
    article .feed ul {
      list-style-type: none;
      padding: 24px;
      margin: 0;
      font-size: 14px;
      color: white;
      font-family: 'Merriweather Sans', sans-serif; }
    article .feed a {
      text-decoration: none; }

.feed {
  text-align: left; }
