@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,700);

@import 'jeet/index';
//@include edit;

// Variables come here
$map_blue: #141823;
$geometry_blue: #f9fafb;
$raleway: 'Raleway', sans-serif;


*{
	margin:0;
	padding:0;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// for all devices lower than 20em in width
@media screen and (min-width: 0em){


	body{
		background-color: $geometry_blue;
	}

	nav{
	  @include col(1);
	  padding: 0.25em auto;
	  background-color: $map_blue;

		aside{
			display: none;
		}
		article{
			input{ 
				width: 100%;
				height: 1.5em;
				border-style: none;
			}
		}
		img{
		 // we are loading images but hiding
		 // right now
		}
	}

	article{
	  box-shadow:inset 0 0 0.125em 0 $map_blue;
		@include center;
		@include col(1);
		color:$map_blue;
		font-family: $raleway;

		header{
			text-align: center;
			margin-top: 3em;
		  h1{
				font-size: 1.5em;
				font-weight: 700;
				margin:0;
		  }
		  h2{
		  	font-size: 1em;
		  	font-weight: 300;
		  	color: gray;
		  	margin: 0;
		  }
			img{
			  @include border-radius(100%);
				max-width: 20%;
				height: auto;
			}
			p{
				padding: 0;
				margin: 0.5em auto;
	  		font-weight: 300;
				font-size: 1em;
			}
		}

		.social{
			@include center;
			font-size: 0.9em;
			div{
				padding: 1em 0;
				@include span(1);
				text-align: center;
				a{
					text-decoration: none;
					color: $map_blue;
				}
			}
			.active, div:hover{
				background-color: $map_blue;
				a{
					color:white;
				}
			}
			font-weight: 100;
		}

	  .feed{
	    @include col(1);
	  	background-color: $map_blue;
			text-align:left;
	  	ul{
	  		list-style-type: none;
	  		padding: 1em;
	  		font-size: 1em;
	  		color: white;
			  font-family: $raleway;
	  	}
	  	a{
	  		text-decoration:none;
	  	}
	  }
	}

  aside{
  	display: none;
  }

}

@media screen and (min-width: 20em){

	body{
		background: url('geometry.png');
	}

	article{
		.social{
			div{
				@include span(1/3);
				text-align: center;
				border-bottom: solid 0.25em red;
			}
			.active, div:hover{
				border-bottom: solid 0.25em $map_blue;
			}
		}
	}

}

@media screen and (min-width: 40.063em){
	nav{
	  padding-top:0.25em;
	  padding-bottom:0.25em;
	  aside{
	  	display: initial;
	  	color: gray;
	  	font-weight: 300;
	  }
		img{
			max-width: 1.2em;
		}
	}


	aside {
		@include col(1/4);
	  font-family: $raleway;

	  section{
	  	@include border-radius(2.5%);
	  	width: 70%;
	  	box-shadow:inset 0 0 0.125em 0 $map_blue;
	  	background-color: white;
	  	margin-top: 0.5em;
	  	padding: 0.5em;
	    header{
	    	background-color: $geometry_blue;
	      color: $map_blue;
	      font-weight:700;
	      font-size:0.75em;
	    }
	    a{
		    text-decoration:none;
		    color: $map_blue;
	    }
	    a:hover{
	    	font-weight: 700;
	    	color: gray;
	    }

	    ul{
	      list-style-type: none;
	      padding: 0;
	      margin: 0;
	      font-size: 0.8em;
	    }
	  }
	}

	article {
		@include center;
		@include col(3/4);
	}

	.left{
		display:none;
	}

	.right{
		text-align: left;
	}

	.center{
		text-align:center;
	}

  .widget{
  	margin-top: 2.5em;
  }


}



