@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,700);

@import 'jeet/index';
//@include edit;

// Variables come here
$map_blue: #141823;
$raleway: 'Raleway', sans-serif;


*{
	margin:0;
	padding:0;
}

body{
	background: url('geometry.png');
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@media screen and (min-width: 20em){
	nav{
	  @include col(1);
	  padding: 0.25em auto;
	  background-color: $map_blue;

		aside{
			display: none;
		}
		article{
			display: none;
		}
		img{
		 // we arent loading images but hiding
		 // right now
		}
	}

	article{
		@include center;
		@include col(1);
		color:$map_blue;
		font-family: $raleway;
		background-color: white;
	  box-shadow:inset 0 0 0.125em 0 $map_blue;

		header{
			text-align: center;
			margin-top: 3em;
		  h1{
				font-size: 1.5em;
				font-weight: 700;
				margin:0;
		  }
		  h2{
		  	font-size: 1em;
		  	font-weight: 300;
		  	color: gray;
		  	margin: 0;
		  }
			img{
			  @include border-radius(100%);
				max-width: 20%;
				height: auto;
			}
			p{
				padding: 0;
				margin: 0.5em auto;
	  		font-weight: 300;
				font-size: 1em;
			}
		}

		.social{
			@include center;
			font-size: 0.9em;
			div{
				padding: 1em 0;
				@include span(1/3);
				margin:0;
				text-align: center;
				border-bottom: solid 0.25em red;
				a{
					text-decoration: none;
					color: $map_blue;
				}
			}
			.active, div:hover{
				background-color: $map_blue;
				border-bottom: solid 0.25em $map_blue;
				a{
					color:white;
				}
			}
			font-weight: 100;
		}

	  .feed{
	    @include col(1);
	  	background-color: $map_blue;
			text-align:left;
	  	ul{
	  		list-style-type: none;
	  		padding: 1em;
	  		font-size: 1em;
	  		color: white;
			  font-family: $raleway;
	  	}
	  	a{
	  		text-decoration:none;
	  	}
	  }
	}


  aside{
  	display: none;
  }


}



