@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,700);

@import 'jeet/index';
//@include edit;

// Variables come here
$map_blue: #141823;
$geometry_gray: #f9fafb;
$dark_geometry_gray: #f1f1f1;
$raleway: 'Raleway', sans-serif;


*{
	margin:0;
	padding:0;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// smaller phones

@media screen and (min-width: 0em){

	body{
		background-color: $geometry_gray;
	}

	nav{
		position: fixed;
	  @include col(1);
	  background-color: $map_blue;
	  div.left{
			img{
				max-width: 1.2em;
				height: auto;
				padding-left: 0.25em;
			}
			input{ 	
				display: none;
			}
	  }

		div.right{
			display: none;
		}
	}

	.wrapper{
		min-height: 100vh;
		background-color: $dark_geometry_gray;
	}

	.button{
		color: white;
		@include center;
		text-align: center;
		@include border-radius(2.5%);
		background-color: $map_blue;
		font-family: $raleway;
		font-size: 1em;
		height: 1.5em;
		padding: 0.5em;
		margin: 1em;
		-webkit-transition: opacity .25s ease-in-out;
			 -moz-transition: opacity .25s ease-in-out;
			 			transition: opacity .25s ease-in-out;
	}
	.button:hover{
		opacity: 0.9;
		color: white;
	}

	article{
		margin-top: 1em;
		@include center;
		@include col(1);
		color:$map_blue;
		background-color: white;
		font-family: $raleway;

		.guide{
			@include span(1);
			div{
				margin: 1em;
				padding: 1em;
				background-color: $geometry_gray;
	  		box-shadow:inset 0 0 0.5em 0 $dark_geometry_gray;
	  		@include border-radius(2%);
				min-height: 5em;
				text-align: center;
				font-weight: 700;
				p.button{
					margin: 1em;
				}
				a{
					text-decoration:none;
				}
			}
		}


		header{
			text-align: center;
			margin-top: 2em;
		  h1{
				font-size: 1.5em;
				font-weight: 700;
				margin:0;
		  }
		  h2{
		  	font-size: 1em;
		  	font-weight: 300;
		  	color: gray;
		  	margin: 0;
		  }
			img{
			  @include border-radius(100%);
				max-width: 20%;
				height: auto;
			}
			p{
				padding: 0;
				margin: 0.5em auto;
	  		font-weight: 300;
				font-size: 1em;
			}
		}


		.social{
			@include center;
			font-size: 0.9em;
			div{
				padding: 1em 0;
				@include span(1);
				text-align: center;
				a{
					text-decoration: none;
					color: $map_blue;
				}
			}
			.active, div:hover{
					background-color: $dark_geometry_gray;
					font-weight: 700;
				a{
					color:$map_blue;
				}
			}
			font-weight: 300;
		}

	  .feed{
	    @include col(1);
	  	background-color: $dark_geometry_gray;
			text-align:left;
	  	ul{
	  		list-style-type: none;
	  		font-size: 0.95em;
	  		color: $map_blue;
			  font-family: $raleway;
			  font-weight: 300;
	  		padding: 1em;
			  li{
			  	margin-top: 0.3em;
				  a{
				  	text-decoration: underline;
				  	color: $map_blue;
				  	font-weight: 700;
				  }
			  }
	  	}
	  }
	}


	article.general{
		header{
			h1{
				padding: 0.25em;
				text-align: left;
				color: $map_blue;
				background-color: $dark_geometry_gray;
			}
			h2{
				text-align: left;
				padding: 0.5em;
				font-size: 0.85em;
				border-bottom: solid 0.5px red;
			}
		}
		form{
			padding-top: 2em;
			background-color: $geometry_gray;
			@include col(1);
			p{
				padding: 0.5em;
				text-align: left;
				font-size: 0.8em;
			}
			input[type="text"]{
				margin: 0.5em;
				display: inline-block;
				border-style: none;
				background-color: $geometry_gray;
				border-bottom: solid 0.5px $map_blue;
				font-family: $raleway;
				font-size: 0.85em;
				text-align: left;
			}
			p.button{
				margin: 0.5em;
				text-align: center;
			}
			a{
				text-decoration:none;
			}
		}
	}

  aside{
  	display: none;
  }

}

// potrait smartphones

@media screen and (min-width: 20em){

	body{
		background-color: $geometry_gray;
	}

	article{
		.social{
			div{
				@include span(1/3);
				text-align: center;
				border-bottom: solid 0.25em red;
			}
			.active, div:hover{
				border-bottom: solid 0.25em $map_blue;
			}
		}
		.feed{
			ul{
	  		padding-top: 1em;
	  		padding-left: 10%;
	  		padding-right: 10%;
			}
		}
	}

	article.general{
		form{
			section.decision{
				padding: 0.25em;
				p{
					@include col(1/2);
					text-align: center;
					margin: 0.25em;
				}
				p.recommended{
					background-color: #c1f0c1;
	  			box-shadow:inset 0 0 0.125em 0 green;
					color: green;
				}
			}
		}
	}
}

// potrait tablets


@media screen and (min-width: 60.063em){

	nav{
		div.left{
			@include span(3/4);
		}
		div.right{
			display: initial;
			@include span(1/4);
			span{
				text-align: right;
				color: $geometry_gray;
				font-weight: 700;
				font-height: 1.2em;
				font-family: $raleway;
			}
			img{
				padding-left: 2em;
				max-width: 1.2em;
				height: auto;
			}
		}
	}

	aside{
		@include span(1/4);
	  font-family: $raleway;
	}

	aside.right{
		background-color: $geometry_gray;
		min-height: 100vh;
	}

	div.asidewrapper{
		margin-top: 3em;
		padding-left: 2em;
	}

	article {
		@include center;
		@include span(3/4);
	}

	.left{
		display:none;
	}

	.right{
		text-align: left;
	}

	.center{
		text-align:center;
	}

  .widget{

	  section{
	  	@include border-radius(2.5%);
	  	width: 80%;
	  	box-shadow:inset 0 0 0.125em 0 $map_blue;
	  	background-color: white;
	  	margin-top: 0.5em;
	  	padding: 0.5em;
	  	span.new{
	  		display: none;
	  	}
	    header{
	    	background-color: $geometry_gray;
	      color: $map_blue;
	      font-weight:700;
	      font-size:0.75em;
	      margin-bottom: 0.25em;
	    }
	    a{
		    text-decoration:none;
		    color: $map_blue;
	    }
	    a:hover{
	    	font-weight: 700;
	    }

	    ul{
	      list-style-type: none;
	      padding: 0;
	      margin: 0;
	      font-size: 0.8em;
	    }
	  }
  }
}

// desktops and bigger tablets

@media screen and (min-width: 64.063em){

	article{
		@include span(1/2);
		background-color: white;
		header{
			margin-top: 3em;
		}
	}
	.left{
		display: initial;
		text-align: right;
	}

	.map{
	 	min-height: 100vh;
	  background-color: $geometry_gray;
		section{
			padding-right: 2em;
			padding-bottom: 0.5em;
	    header{
	      color: $map_blue;
	      font-weight:700;
	      font-size:0.75em;
	      margin-bottom: 0.25em;
	    }
	    a{
		    text-decoration:none;
		    color: $map_blue;
	    }
	    a:hover{
	    	font-weight: 700;
	    }

	    ul{
	      list-style-type: none;
	      padding: 0;
	      margin: 0;
	      font-size: 0.8em;
				span.count{
					display: inline-block;
					min-width: 1.5em;
					text-align: center;
					color: white;
					font-family: $raleway;
					font-size: 0.75em;
					font-weight: 700;
					background-color: gray;
				}
	    }
		}
	}

	.widget{
		section{
			span.new{
				display: initial;
				color: red;
				font-family: $raleway;
				font-size: 0.75em;
				font-weight: 700;
				padding: 0.05em;
				background-color: pink;
				@include border-radius(1%);
			}

		}
	}

	
}



