@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,700);
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
* {
  margin: 0;
  padding: 0; }

body {
  background: url("geometry.png"); }

nav {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: #141823; }
  nav:before, nav:after {
    content: '';
    display: table; }
  nav:after {
    clear: both; }
  nav:last-child {
    margin-right: 0%; }
  nav aside {
    color: gray; }
  nav article {
    background-color: #141823; }
    nav article input {
      width: 100%;
      border-style: none; }
  nav img {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    border-radius: 10%;
    max-width: 1.5em;
    height: auto; }

aside {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  font-family: "Raleway", sans-serif; }
  aside:first-child {
    margin-left: auto; }
  aside:last-child {
    margin-right: auto; }
  aside:before, aside:after {
    content: '';
    display: table; }
  aside:after {
    clear: both; }
  aside:last-child {
    margin-right: 0%; }
  aside section {
    margin-bottom: 1em; }
    aside section header {
      color: gray;
      font-weight: 300;
      font-size: 0.75em; }
    aside section a {
      text-decoration: none;
      color: #141823; }
    aside section ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 0.8em; }

article {
  *zoom: 1;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  color: #141823;
  font-family: "Raleway", sans-serif;
  background-color: white;
  box-shadow: inset 0 0 0.125em 0 #141823; }
  article:before, article:after {
    content: '';
    display: table; }
  article:after {
    clear: both; }
  article:before, article:after {
    content: '';
    display: table; }
  article:after {
    clear: both; }
  article:last-child {
    margin-right: 0%; }
  article header {
    text-align: center;
    margin-top: 3em; }
    article header h1 {
      font-size: 1.5em;
      font-weight: 700;
      margin: 0; }
    article header h2 {
      font-size: 1em;
      font-weight: 300;
      color: gray;
      margin: 0; }
    article header img {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      max-width: 20%;
      height: auto; }
    article header p {
      padding: 0;
      margin: 0.5em auto;
      font-weight: 300;
      font-size: 1em; }
  article .social {
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    font-weight: 100; }
    article .social:before, article .social:after {
      content: '';
      display: table; }
    article .social:after {
      clear: both; }
    article .social p {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      padding-left: 0;
      padding-right: 0;
      text-align: inherit;
      width: 33.33333%;
      margin-left: 0%;
      margin-right: 0%;
      margin: 0; }
      article .social p:before, article .social p:after {
        content: '';
        display: table; }
      article .social p:after {
        clear: both; }
      article .social p a {
        text-decoration: none;
        color: gray; }
    article .social p:hover {
      background-color: orange; }
  article .feed {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    margin-top: 1em;
    background-color: #141823;
    text-align: left; }
    article .feed:before, article .feed:after {
      content: '';
      display: table; }
    article .feed:after {
      clear: both; }
    article .feed:last-child {
      margin-right: 0%; }
    article .feed ul {
      list-style-type: none;
      padding: 1em;
      font-size: 1em;
      color: white;
      font-family: "Raleway", sans-serif; }
    article .feed a {
      text-decoration: none; }

.left, .right {
  text-align: right; }

.right {
  text-align: left; }

.center {
  text-align: center; }
