@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,700);
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

.button {
  color: white;
  *zoom: 1;
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  -webkit-border-radius: 2.5%;
  -moz-border-radius: 2.5%;
  -ms-border-radius: 2.5%;
  border-radius: 2.5%;
  background-color: #141823;
  font-size: 1em;
  height: 1.5em;
  padding: 0.5em;
  margin: 1em;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out; }
  .button:before, .button:after {
    content: '';
    display: table; }
  .button:after {
    clear: both; }

.button:hover {
  opacity: 0.9; }

.recommended {
  background-color: #c1f0c1;
  box-shadow: inset 0 0 0.125em 0 green;
  color: green; }

@media screen and (min-width: 0em) {
  body {
    background-color: #f9fafb; }

  nav {
    position: fixed;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    background-color: #141823;
    padding: 0.25em; }
    nav:before, nav:after {
      content: '';
      display: table; }
    nav:after {
      clear: both; }
    nav:last-child {
      margin-right: 0%; }
    nav div img {
      -webkit-border-radius: 10%;
      -moz-border-radius: 10%;
      -ms-border-radius: 10%;
      border-radius: 10%;
      max-width: 1.5em;
      height: auto;
      padding-left: 0.25em; }
    nav div.right {
      display: none; }

  .wrapper {
    min-height: 100vh; }

  article {
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    color: #141823;
    background-color: white;
    min-height: 100vh; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article:last-child {
      margin-right: 0%; }
    article header {
      margin-top: 2.25em; }
      article header h1 {
        padding: 0.25em;
        text-align: left;
        color: #141823;
        background-color: #f1f1f1; }
      article header h1.generated {
        font-size: 1em; }
      article header h2 {
        text-align: left;
        padding: 0.5em;
        font-size: 0.85em;
        font-weight: 300;
        border-bottom: solid 0.15em red; }
        article header h2 a {
          text-decoration: underline;
          color: #141823; }
    article form {
      padding-top: 2em;
      background-color: #f9fafb;
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%; }
      article form:before, article form:after {
        content: '';
        display: table; }
      article form:after {
        clear: both; }
      article form:last-child {
        margin-right: 0%; }
      article form p {
        padding: 0.5em;
        text-align: left;
        font-size: 0.8em; }
      article form input[type="text"] {
        margin: 0.5em;
        display: inline-block;
        border-style: none;
        background-color: #f9fafb;
        border-bottom: solid 0.125em #141823;
        font-size: 0.85em;
        text-align: left; }
      article form p.button {
        margin: 0.5em;
        text-align: center; }
      article form a {
        text-decoration: none; }
    article .guide {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      padding-left: 0;
      padding-right: 0;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 0%; }
      article .guide:before, article .guide:after {
        content: '';
        display: table; }
      article .guide:after {
        clear: both; }
      article .guide div {
        margin: 1em;
        padding: 1em;
        background-color: #f9fafb;
        box-shadow: inset 0 0 0.5em 0 #f1f1f1;
        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        -ms-border-radius: 2%;
        border-radius: 2%;
        min-height: 5em;
        text-align: center;
        font-weight: 700; }
        article .guide div p.button {
          margin: 1em; }
        article .guide div a {
          text-decoration: none; }
    article .feed {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%;
      background-color: #f1f1f1;
      text-align: left; }
      article .feed:before, article .feed:after {
        content: '';
        display: table; }
      article .feed:after {
        clear: both; }
      article .feed:last-child {
        margin-right: 0%; }
      article .feed ul {
        list-style-type: none;
        font-size: 0.95em;
        color: #141823;
        font-weight: 300;
        padding: 1em; }
        article .feed ul li {
          margin-top: 0.3em; }
          article .feed ul li a {
            text-decoration: underline;
            color: #141823;
            font-weight: 700; }

  aside {
    display: none; } }
@media screen and (min-width: 20em) {
  article form section.decision {
    padding: 0.25em; }
    article form section.decision p {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 48.5%;
      margin-left: 0%;
      margin-right: 3%;
      text-align: center;
      margin: 0.25em; }
      article form section.decision p:before, article form section.decision p:after {
        content: '';
        display: table; }
      article form section.decision p:after {
        clear: both; }
      article form section.decision p:last-child {
        margin-right: 0%; }
  article .feed ul {
    padding-top: 1em;
    padding-left: 10%;
    padding-right: 10%; } }
@media screen and (min-width: 60.063em) {
  nav div.left {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 75%;
    margin-left: 0%;
    margin-right: 0%; }
    nav div.left:before, nav div.left:after {
      content: '';
      display: table; }
    nav div.left:after {
      clear: both; }
  nav div.right {
    display: initial;
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%; }
    nav div.right:before, nav div.right:after {
      content: '';
      display: table; }
    nav div.right:after {
      clear: both; }
    nav div.right img {
      padding-left: 2em; }
    nav div.right span {
      text-align: right;
      color: #f9fafb;
      font-weight: 300;
      font-height: 1.2em; }

  article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 75%;
    margin-left: 0%;
    margin-right: 0%; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article header h1.generated {
      font-size: 1.5em; }

  aside {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 25%;
    margin-left: 0%;
    margin-right: 0%; }
    aside:before, aside:after {
      content: '';
      display: table; }
    aside:after {
      clear: both; }

  aside.right {
    min-height: 100vh; }

  div.asidewrapper {
    margin-top: 3em;
    padding-left: 2em; }

  .left {
    display: none; }

  .right {
    text-align: left; }

  .center {
    text-align: center; }

  .widget section {
    -webkit-border-radius: 2.5%;
    -moz-border-radius: 2.5%;
    -ms-border-radius: 2.5%;
    border-radius: 2.5%;
    width: 80%;
    box-shadow: inset 0 0 0.125em 0 #141823;
    background-color: white;
    margin-bottom: 1em;
    padding: 0.5em; }
    .widget section header {
      background-color: #f9fafb;
      color: #141823;
      font-weight: 700;
      font-size: 0.75em;
      margin-bottom: 0.25em; }
    .widget section a {
      text-decoration: none;
      color: #141823; }
    .widget section a:hover {
      font-weight: 700; }
    .widget section ul {
      list-style-type: none;
      margin: 0;
      font-size: 0.8em; }
      .widget section ul li {
        margin-top: 0.25em;
        margin-bottom: 0.25em; }
    .widget section span.new {
      display: none; } }
@media screen and (min-width: 64.063em) {
  article {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: white; }
    article:before, article:after {
      content: '';
      display: table; }
    article:after {
      clear: both; }
    article header {
      margin-top: 2.25em; }

  .left {
    display: initial;
    text-align: right; }

  .map {
    min-height: 100vh; }
    .map section {
      padding-right: 2em;
      margin-bottom: 1em; }
      .map section header {
        color: #141823;
        font-weight: 700;
        font-size: 0.75em;
        margin-bottom: 0.25em; }
      .map section a {
        text-decoration: none;
        color: #141823; }
      .map section a:hover {
        font-weight: 700; }
      .map section ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0.8em; }
        .map section ul span.count {
          display: inline-block;
          min-width: 1.5em;
          text-align: center;
          color: #141823;
          font-size: 0.75em;
          font-weight: 700;
          background-color: #f1f1f1; }
        .map section ul li {
          margin-bottom: 0.5em; }

  .widget section span.badge {
    display: initial; } }
span.badge {
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  border-radius: 10%;
  padding: 0.15em;
  font-size: 0.75em;
  font-weight: 700; }

.new {
  background-color: pink;
  color: red; }

.author {
  background-color: #c1f0c1;
  color: green; }

@media screen and (min-width: 0em) {
  article .bio img {
    max-width: 100%;
    height: auto; }
  article .social {
    *zoom: 1;
    width: auto;
    max-width: 1410px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 0.9em;
    font-weight: 300; }
    article .social:before, article .social:after {
      content: '';
      display: table; }
    article .social:after {
      clear: both; }
    article .social div {
      padding: 1em 0;
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      padding-left: 0;
      padding-right: 0;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
      text-align: center; }
      article .social div:before, article .social div:after {
        content: '';
        display: table; }
      article .social div:after {
        clear: both; }
      article .social div a {
        text-decoration: none;
        color: #141823; }
    article .social .active, article .social div:hover {
      background-color: #f1f1f1;
      font-weight: 700; }
      article .social .active a, article .social div:hover a {
        color: #141823; } }
@media screen and (min-width: 20em) {
  article .social div {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    border-bottom: solid 0.25em red; }
    article .social div:before, article .social div:after {
      content: '';
      display: table; }
    article .social div:after {
      clear: both; }
  article .social .active, article .social div:hover {
    border-bottom: solid 0.25em #141823; } }
